<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
  <p class="blog-post-meta"><%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>

  <p><%= blog.body %></p>

  <p>
    <!-- TODO: authorization not set up -->
    <%= link_to blog.status, toggle_status_blog_path(blog) if user_signed_in? %> / 
    <%= link_to 'Edit', edit_blog_path(blog) if user_signed_in? %> / 
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? %>

  </p>
 
</div><!-- /.blog-post -->

